div#blog{
  text-align: center;
}
div#blog a{
  text-decoration: none;
  color:#1389d3;
}
div h2{
  color: #000;
  width:100%;
  text-align: center;
  font-size: 200%;
}
div#galleryPage {
  border-top: 3px solid #1389d3;
  width:80%;
  margin-left: 130px;
}
 img.gallery{
   margin:5px 5px;
  padding: 10px;
  padding-left: 30px;
}

footer {
  clear: both;
  font-size: 70%;
  text-align: center;
  background-color: #619725;
  height: 20px;
  padding-top: 5px;
  padding-bottom: 42px;
}

footer a {
  text-decoration: none;
  color: black;
}

@media(min-width:768px) and (max-width:1023px){
  div#blog{
    padding-top: 20px;
    }

 div#galleryPage {
   text-align: center;
   margin-left: 0;
   width:100%;
 }
 div#galleryPage img{
   width: 200px;
}
}
@media(min-width:425px) and (max-width:767px){
  div#blog{
    padding-top: 20px;
    }
 div#galleryPage {
   text-align: center;
   margin-left: 0;
   width: 100%;
 }
 div#galleryPage img{
   width: 140px;
   padding-left: 10px;
}
}

@media(min-width:375px) and (max-width:424px){
  div#blog{
    padding-top: 20px;
    }
    div#blog img{
    width:80px;
  }
 div#galleryPage {
   text-align: center;
   margin-left: 0;
   width:100%;
 }
 div#galleryPage img{
   padding-left: 10px;
   width: 130px;
}
}

@media(min-width:320px) and (max-width:374px){

 div#blog{
   padding-top: 20px;
   }
   div#blog img{
   width:70px;
 }
 div#galleryPage {
   text-align: center;
   margin-left: 0;
   width: 100%;
 }
 div#galleryPage img{
   width: 140px;
 }
}

@media(max-width:319px){
  div#blog{
    padding-top: 20px;
    }
    div#blog img{
    width:60px;
  }
 div#galleryPage {
   text-align: center;
 }
 div#galleryPage img{
   width: 140px;
 }
}
